@font-face {
    font-family: "Press Start 2P";
    src: url("./assets/Press_Start_2P/PressStart2P-Regular.ttf");
}

:root{
  font-size: 16px;
}

.calculator{
    background: linear-gradient(rgb(57, 59, 57), rgb(12, 21, 14));
    padding: 20px;
    width: 240px;

    display: flex;
    flex-direction: column;

    text-align: center;
    border-radius: 30px;
    border: 1px solid rgb(172, 170, 170);

    box-shadow: 0 5px 10px 1px black;
    animation: popIn 1s ease-out;
}

.calculator button{
    width: 50px;
    height: 50px;
    margin: 2px;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(rgb(22, 23, 22), rgb(12, 21, 14));
    color:rgb(255, 255, 255);

    border-radius: 10px;
    border: none;

    box-shadow: 0 0 0 1px rgb(194, 194, 194);

    transition-duration: 0.05s;
}

.calculator button:hover{
    background-color: rgb(144, 144, 144);
    color:white;
    transform: scale(1.02) translate(0, -4px);
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgb(28, 148, 228);
}

.calculator button:active{
    background-color: rgb(165, 165, 165);
    color:rgb(148, 148, 148);
    transform: scale(0.9);
}

.screen{
    background:radial-gradient(rgb(0, 57, 14), rgb(12, 21, 14));
    padding: 0px;
    margin: 10px 0;
    font-size: 1.5rem;
    min-height: 4rem;
    text-align: center;
    align-content: center;
    
    border-radius: 5px;
    box-shadow: 0 0px 2px 0 rgb(199, 209, 139);
}

.screen p{
    padding: 0;
    margin: 0 0;
    overflow: hidden;
    font-family: "Press Start 2P";
    color: rgb(85, 233, 201);
    text-shadow: 0 0 4px rgb(10, 119, 10);
}

.btn-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes popIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}